#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:Poppins,sans-serif;
}

/* NAVBAR */

.nav--logo {
  /* fix problem for safari */
  max-width:100px; 
}

.gray {
  color: #918E9B;
}

.bold {
  font-weight:bold;
}

/* HERO */

section {
  padding:10px;
}

.hero {
  display:flex;
  flex-direction:column;
}

.hero--photo_grid {
  max-width:400px;
  align-self:center;
}

.hero--heading {
  margin-bottom:16px;
  font-size:36px;
}

.hero--text {
  margin-top:0;
  color:#222222;
  max-width:320px;
}

/* CARD */

.card {
  width:175px;
  font-size:12px;
  display: flex;       
  flex: 0 0 auto;   
  flex-direction: column;
  position:relative;
}

.card--title {
  overflow:hidden;
  text-overflow:ellipsis;
}
.card--photo {
  width:100%;
  border-radius:9px;
  margin-bottom:9px;
}

.card--stats {
  display:flex;
  align-items:center;
}

.card--star {
  height:14px;
}

.card--price {
  margin-top:auto;
}

.cards-list {
  display:flex;
  flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 5px;
  overflow-x: auto;
}

.card--badge {
  position:absolute;
  border-radius:6px;
  top:20px;
  left:20px;
  color:#000;
  padding:5px 6px;
  font-weight:bold;
  background-color:#fff;
}
